@model CasaDaVideira.Model.Database.Model.Usuario

@{
    ViewBag.Title = "Detalhes";
    var tipo = Model.Admin ? "Administrador" : "Cliente";
}

<h2>Detalhes de @Model.Nome  @Model.Sobrenome</h2>

<div>
    <h4>@tipo</h4>
    <hr />
        
            @Html.LabelFor(model => model.Email) 
            @Html.EditorFor(model => model.Email)
        
            @Html.DisplayNameFor(model => model.Senha)
    
            @Html.EditorFor(model => model.Senha)
        
            @Html.DisplayNameFor(model => model.Nome)
        
            @Html.EditorFor(model => model.Nome)
        
            @Html.DisplayNameFor(model => model.Sobrenome)
        
            @Html.EditorFor(model => model.Sobrenome)
        
            @Html.DisplayNameFor(model => model.Cpf)
       
            @Html.EditorFor(model => model.Cpf)
        
            @Html.DisplayNameFor(model => model.DtNascimento)
        
            @Html.EditorFor(model => model.DtNascimento)
       
</div>
<p>
    @Html.ActionLink("Telefones", "Telefones")
    @Html.ActionLink("Enderecos", "Enderecos", new { idEndereco = Model.IdUsuario })
</p>
