@model IEnumerable<CasaDaVideira.Model.Database.Model.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar cliente", "CreateUser")
</p>
<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtNascimento)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditUser", new { idUsuario = item.IdUsuario }) |
            @Html.ActionLink("Detalhes", "DetailsUser", new { idUsuario = item.IdUsuario }) |
            @Html.ActionLink("Apagar", "DeleteUser", new { idUsuario = item.IdUsuario })
        </td>
    </tr>
}

</table>
