@model CasaDaVideira.Model.Database.Model.Usuario
    @using System.ComponentModel.DataAnnotations

@{
    ViewBag.Title = "Login";
}


<!-- login -->
<div class="login">
    <div class="container">
        <h2>Login</h2>
        
        @if (!ViewBag.ExisteAdmin)
        {
            <div class="alert alert-danger" role="alert">
                Insira as credenciais para cadastrar o primeiro administrador!<br />
                Não será possível logar nenhum usuário sem um administrador cadastrado.
            </div>
        }
        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            
            @using (Html.BeginForm("FazerLogin", "Usuario", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = ViewBag.ExisteAdmin ? "Email" : "Chave do sistema" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                

                if(ViewBag.ExisteAdmin)
                {
                    <div class="forgot">
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                }
                
                var valor = ViewBag.ExisteAdmin ? "Entrar" : "Cadastrar primeiro administrador";
                <input type="submit" value=@valor >
            }
        </div>
        @if(ViewBag.ExisteAdmin)
        {
            <h4>Não tem login?</h4>
            <p>@Html.ActionLink("Crie seu cadastro!", "CreateUser", "Usuario") Ou volte para 
                @Html.ActionLink("página inicial", "Login", "Home") 
            </p>
        }
    </div>
</div>
<!-- //login -->

